In [1]:
from sqlalchemy import create_engine
import pandas as pd
import sqlalchemy
from sqlalchemy import text

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:4750@localhost:5432/ba1')

In [26]:
df = pd.read_sql("""
SELECT COUNT(publisher), 
publisher
FROM ke_stage.ba_corpus_1
GROUP BY publisher
ORDER BY COUNT(publisher) ASC""", engine)

In [27]:
df.to_pickle('Publisher_and_published_count.pkl')

In [28]:
df = pd.read_sql("""SELECT COUNT(record_id),
database,
class,
subdatabase
FROM ke_stage.ba_corpus_1
GROUP BY database, subdatabase, class
ORDER BY COUNT(record_id) DESC""", engine)

In [29]:
df.to_pickle('db_sub_and_class_count.pkl')

In [30]:
df = pd.read_sql("""SELECT COUNT(record_id),
class
FROM ke_stage.ba_corpus_1
GROUP BY class
ORDER BY COUNT(class) ASC""", engine)

In [31]:
df.to_pickle('class_distribution.pkl')

In [33]:
df = pd.read_sql("""SELECT COUNT(publisher), 
publisher,
class
FROM ke_stage.ba_corpus_1
GROUP BY publisher,
class
HAVING COUNT(publisher) > 10
ORDER BY COUNT(publisher),class DESC""", engine)

In [34]:
df.to_pickle('pubs_class_distribution.pkl')

In [10]:
df = pd.read_sql("""
SELECT COUNT(doctype), 
doctype,
publisher,
class
FROM ke_stage.ba_corpus_1
GROUP BY doctype,
publisher,
class
ORDER BY COUNT(doctype), publisher DESC
""", engine)

In [11]:
df.to_pickle('pubs_class_doctype_distribution.pkl')

,count,doctype,publisher,class
0,1,"[ONLINE, ZS]","[高知県立紙産業技術センター, Kōchi Kenritsu Kami Sangyō Gij...",Rest
1,1,"[MONO, ONLINE]",[马尼拉：世界卫生组织西太平洋区域办事处],Umweltwissenschaften
2,1,"[MONO, ONLINE]",[马尼拉：世卫组织西太平洋区域办事处],ErnÃ¤hrung
3,1,"[ONLINE, MONO]",[马尼拉：世卫组织西太平洋区域办事处],Landwirtschaft
4,1,"[ONLINE, MONO]",[马尼拉 ：世卫组织西太平洋区域办事处],Rest
...,...,...,...,...
2444782,1563752,[ARTIKEL],[],ErnÃ¤hrung
2444783,1577947,[ARTIKEL],[],Umweltwissenschaften
2444784,3870131,[ARTIKEL],[],Landwirtschaft
2444785,4628705,[ARTIKEL],[],Rest
2444786,9519050,[ARTIKEL],[],Medizin