In [1]:
import pandas as pd
import numpy as np
import numpy as np
from tqdm import tqdm
import sqlalchemy
from sqlalchemy import text
from pandarallel import pandarallel
import pickle
pandarallel.initialize(progress_bar=True)
tqdm.pandas()

INFO: Pandarallel will run on 24 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score

In [3]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:4750@192.168.0.137:5432/ba1')

In [4]:
df = pd.read_sql_query(sqlalchemy.text("""
SELECT
record_id,
collectiontitle_token,
abstract_token,
title_token,
class
FROM  ke_stage.ba_corpus_2
LIMIT 100000
"""),
engine)

In [5]:
df['class'].value_counts()

Rest                    37380
Medizin                 31155
Landwirtschaft          15772
Umweltwissenschaften     9018
ErnÃ¤hrung               6436
['NaN']                   239
Name: class, dtype: int64

In [6]:
df = df.loc[df['class'] != "['NaN']"]
df['combined'] = df[df.columns[1:]].parallel_apply(lambda x: ','.join(x.astype(str)),axis=1) ## Class appendance Fehler [df.columns[1:]] 
df = df.drop(['title_token','abstract_token','collectiontitle_token'],axis =1 )

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=4157), Label(value='0 / 4157'))), …

In [7]:
df['class'].value_counts()

Rest                    37380
Medizin                 31155
Landwirtschaft          15772
Umweltwissenschaften     9018
ErnÃ¤hrung               6436
Name: class, dtype: int64

In [8]:
df.sample(3).T

,89552,33500,46638
record_id,AGRICOLAIND605218894,M31886715,M31800316
class,ErnÃ¤hrung,Rest,Rest
combined,",second,order,rate,constant,addition,water,eth...",",,corrigendum,Rest",",,put,life,days,day,life,Rest"

In [9]:
count_vec = CountVectorizer()
bow = count_vec.fit_transform(df['combined'])
bow = np.array(bow.todense())

In [ ]:
X = bow
y = df['class']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    stratify=y)

In [ ]:
model = MultinomialNB().fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
print('Accuracy:', accuracy_score(y_test, y_pred))
print('F1 score:', f1_score(y_test, y_pred, average="macro"))
print(classification_report(y_test, y_pred))

Accuracy: 0.8736208625877633
F1 score: 0.8401513855689325
                      precision    recall  f1-score   support

          ErnÃ¤hrung       0.80      0.63      0.71       199
      Landwirtschaft       0.91      0.84      0.87       475
             Medizin       0.87      0.95      0.91       909
                Rest       0.87      0.89      0.88      1126
Umweltwissenschaften       0.85      0.82      0.83       282

            accuracy                           0.87      2991
           macro avg       0.86      0.82      0.84      2991
        weighted avg       0.87      0.87      0.87      2991