In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from pandarallel import pandarallel
import regex as re
import glob
import os
pandarallel.initialize(progress_bar=True, nb_workers= 16, verbose = 0)
tqdm.pandas()

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import interpolate
import numpy as np
from scipy.ndimage import gaussian_filter1d

In [99]:
file_paths=[]
path = r'D:\GIT\Bachelor-Arbeit\notebooks\classifiers\poc\lda\lda_score_csv' # path
print(path)
#file_paths = [f for f in os.listdir(path) if f.endswith('.csv')]
for file in  glob.glob(os.path.join(path , "*_4.csv")):
    file_paths.append(file)
print("loading from :",len(file_paths),"files")
while '.csv' in file_paths:
    file_paths.remove('.csv')
#safe all file names as cleaned keys
r = r"(.csv)|D:\\GIT\\Bachelor-Arbeit\\notebooks\\classifiers\\poc\\lda\\lda_score_csv\\topic_population_at_\d*_topics_"
subst = ""
file_keys=[]
for i in file_paths:
    names = re.sub(r, subst, i)
    file_keys.append(names)
while '' in file_keys:
    file_keys.remove('')
file_keys = map(int, file_keys)

D:\GIT\Bachelor-Arbeit\notebooks\classifiers\poc\lda\lda_score_csv
loading from : 8 files

In [100]:
df = pd.concat(map(pd.read_csv,file_paths))

In [101]:
df["topics"] = list(file_keys)[1]

In [102]:
df

    Unnamed: 0                 class  topic  count  topics
0            0            ErnÃ¤hrung    0.0     84       4
1            1        Landwirtschaft    0.0     94       4
2            2               Medizin    0.0     86       4
3            3               Medizin    3.0      1       4
4            4  Umweltwissenschaften    0.0     83       4
..         ...                   ...    ...    ...     ...
9            9               Medizin    3.0      1       4
10          10               Medizin    NaN   2523       4
11          11  Umweltwissenschaften    0.0    349       4
12          12  Umweltwissenschaften    1.0   2021       4
13          13  Umweltwissenschaften    NaN   3079       4

[87 rows x 5 columns]